@font-face {
  font-family: "roboto-bold";
  src: url("../font/Roboto-Bold.ttf");
}
@font-face {
  font-family: "roboto-regular";
  src: url("../font/Roboto-Regular.ttf");
}
body {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "roboto-regular";
}
.header {
  position: absolute;
  left: 0;
  top: 32px;
  width: 100%;
  &__container {
    width: 91%;
    margin: 0 auto;
    @media (max-width: 1200px) {
      width: 100%;
    }
  }
}
a {
  text-decoration: none;
  color: #fff;
  transition: all 0.2s ease;
  &:hover {
    text-decoration: none;
    color: burlywood;
  }
}
.nav-item {
  margin-right: 56px;
  font-size: 16px;
  &:last-child {
    margin: 0;
  }
  @media (max-width: 1200px) {
    margin-top: 20px;
    background-color: #111111;
    width: max-content;
    border-radius: 0 10px 10px 0;
    &:last-child {
      margin: 20px 0;
    }
  }
}
.go-to-office {
  padding: 10px 30px;
  font-size: 20px;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  border-radius: 50px;
  outline: none;
  border: none;
  color: #fff;
}
.main-section {
  width: 100%;
  background: url("../img/mainSection.jpg") no-repeat;
  background-size: cover;
  padding: 270px 0 218px 0;
  @media (max-width: 1200px) {
    background-position: center center;
  }
  &__first-title {
    font-family: "roboto-bold";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    max-width: 870px;
    color: #ffffff;
    padding-bottom: 50px;
    @media (max-width: 1200px) {
      font-size: 50px;
    }
    @media (max-width: 600px) {
      font-size: 40px;
    }
  }
  &__number-wrapper {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    &__item {
      margin-right: 30px;
      padding: 20px 30px;
      text-align: center;
      &-title {
        font-family: "roboto-bold";
        color: #fff;
      }
      &-p {
        color: #fff;
        margin: 0;
        opacity: 0.4;
      }
      &:last-child {
        margin: 0;
      }
      background-color: #111111;
    }
    @media (max-width: 769px) {
      width: 100%;
      justify-content: space-between;
      &__item {
        width: 95px;
        margin: 0;
        padding: 15px 25px;
        &-title {
          font-size: 25px;
        }
        &-p {
          font-size: 15px;
        }
        &:first-child,
        &:nth-child(2) {
          margin-bottom: 20px;
        }
      }
    }
    @media (max-width: 430px) {
      width: 250px;
      justify-content: start;
      &__item {
        margin: 10px !important;
      }
    }
  }
  .container {
    width: 67% !important;
    margin: 0 auto !important;
    @media (max-width: 1200px) {
      width: 100% !important;
    }
  }
}
.aside {
  width: 100%;
  background-color: #121212;
  padding: 36px 0;
  .container {
    @media (max-width: 1300px) {
      width: 100% !important;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__info {
      margin-right: 81px;
      margin-bottom: -15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      &__item {
        display: flex;
        min-width: 251px;
        align-items: center;
        width: 100%;
        font-size: 16px;
        justify-content: space-between;
        p {
          color: #fff;
          &:first-child {
            opacity: 0.4;
          }
          &:nth-child(2) {
            font-family: "roboto-bold";
          }
        }
      }
    }
  }

  &__progress {
    display: block;
    flex: 3;
    &__info {
      margin-top: -30px;
      display: flex;
      width: 100%;
      flex-wrap: nowrap;
      p {
        margin-bottom: 8px;
        color: #fff;
        &:first-child {
          opacity: 0.4;
          margin-right: 30px;
        }
      }
    }
    &__main {
      width: 100%;
      height: 6px;
      background-color: #fff;
      position: relative;
      &::before {
        content: "0";
        position: absolute;
        top: 11px;
        color: #fff;
        opacity: 0.4;
      }
      &::after {
        content: "1 000 000₽";
        position: absolute;
        top: 11px;
        right: 0;
        color: #fff;
        opacity: 0.4;
      }
    }
    &__small {
      position: absolute;
      inset: 0;
      width: 61%;
      height: 6px;
      background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
      z-index: 2;
    }
  }
  &__button {
    margin-right: 81px;
    border-radius: 50px;
    color: #fff;
    outline: none;
    border: none;
    padding: 10px 30px;
    background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  }
  @media (max-width: 992px) {
    &__wrapper {
      flex-direction: column;
      align-items: center;
      &__info {
        margin: 50px 0;
      }
    }
    &__button {
      margin: 0;
    }
    &__progress {
      width: 100%;
    }
  }
}
/* section-content */
.section-content {
  background: linear-gradient(#2f2f2f, transparent 1px),
    linear-gradient(90deg, #2f2f2f, transparent 1px);
  background-color: #000;
  background-size: 13px 13px;
  background-position: center center;
  padding-top: 200px;
  color: #fff;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 231px;
    &__square {
      border: 30px solid transparent;
      border-image: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
      border-image-slice: 1;
      padding-top: 60px;
      img {
        margin-bottom: -60px;
      }
    }
    &__text {
      margin-top: -30px;
      margin-left: 140px;
      h2 {
        font-family: "roboto-bold";
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 140%;
        margin-bottom: 35px;
      }
      p {
        font-size: 15px;
        line-height: 160%;
        color: #ffffff;
      }
    }
  }
  .img-theme {
    &:first-child {
      transform: rotate(-180deg);
    }
  }
  &__theme {
    display: flex;
    align-items: flex-end;
    h2 {
      margin: 0 0 -5px 20px;
      font-family: "roboto-bold";
      font-size: 40px;
    }
    .img-theme-three {
      transform: rotate(-45deg);
    }
  }
  &__info-p {
    margin-top: 51px;
    opacity: 0.5;
    max-width: 411px;
    line-height: 160%;
  }
  &__wrapper-procent {
    width: 100%;
    margin-top: 80px;
    padding-bottom: 200px;
    &__number {
      display: flex;
      justify-content: space-between;
      h2 {
        width: 25%;
        font-size: 30px;
        font-family: "roboto-bold";
      }
      margin-bottom: 20px;
    }
    &__block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      div {
        background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
        width: 25%;
        &:first-child {
          height: 80px;
        }
        &:nth-child(2) {
          height: 60px;
        }
        &:nth-child(3) {
          height: 30px;
        }
        &:nth-child(4) {
          height: 10px;
        }
      }
    }
    &__info {
      display: flex;
      margin-top: 35px;
      justify-content: space-between;
      p {
        span {
          font-size: 20px;
          font-family: "roboto-bold";
          display: none;
        }
        margin-right: 18px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    @media (max-width: 768px) {
      padding-bottom: 100px;
      &__info {
        margin-top: 50px !important;
        flex-direction: column;
        max-width: 300px;
        margin: 0 auto;
        p {
          span {
            display: block;
          }
        }
      }
      &__number {
        h2 {
          font-size: 20px;
        }
      }
    }
  }
  .title-theme {
    text-align: center;
    font-size: 40px;
    font-family: "roboto-bold";
    @media (max-width: 768px) {
      font-size: 20px;
    }
  }
  .info-wrapper {
    display: flex;
    align-items: flex-start;
    margin-top: 126px;
    padding-bottom: 231px;
    justify-content: space-between;
    &__item {
      margin-right: 24px;
      text-align: center;
      img {
        margin-bottom: 60px;
      }
      h3 {
        font-size: 21px;
        line-height: 140%;
        margin-bottom: 30px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    @media (max-width: 992px) {
      flex-direction: column;
      align-items: center;
      &__item {
        margin-right: 0;
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    @media (max-width: 768px) {
      padding-bottom: 100px;
    }
  }
  .img-section {
    width: 100%;
    margin-bottom: 76px;
    img {
      transform: rotate(135deg);
      display: block;
      margin: 0 auto;
    }
  }
  .info-section {
    display: flex;
    justify-content: center;
    p {
      max-width: 411px;
      text-align: center;
      color: #fff;
      opacity: 0.5;
      margin: 30px 0 80px 0;
    }
  }
  .company-wrapper {
    display: flex;
    margin-top: 60px;
    width: 100%;
    margin-bottom: 240px;
    flex-wrap: wrap;
    &__item {
      width: 25%;
      img {
        margin: 29px 45px;
        width: 193px;
        height: auto;
      }
    }

    @media (max-width: 1200px) {
      width: 70%;
      margin-bottom: 100px;
      margin: 0 auto;
      justify-content: space-between;
      &__item {
        width: 50%;
      }
    }
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      &__item {
        margin-top: 20px;
        img {
          margin: 0;
          width: 100%;
          height: auto;
        }
      }
    }
  }
  .program-learn {
    display: flex;
    width: 100%;
    justify-content: center;
    min-width: 300px;
    padding-bottom: 180px;
    &__vertical-line {
      position: absolute;
      background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
      width: 6px;
      height: 100%;
      max-height: 600px;
      @media (max-width: 768px) {
        max-height: 800px;
      }
      @media (max-width: 340px) {
        height: 700px;
      }
    }
    &__left-block {
      max-width: 228px;
      display: block;
      margin-right: 60px;
      margin-bottom: 80px;
      & p {
        text-align: end;
        &:first-child {
          font-size: 14px;
          color: #fff;
          opacity: 0.5;
        }
        &:nth-child(2) {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            top: 8px;
            right: -60px;
            width: 40px;
            height: 1px;
            background-color: #fff;
            opacity: 0.5;
          }
        }
      }
    }
    &__right-block {
      max-width: 228px;
      display: block;
      margin-left: 60px;
      &:first-child {
        margin-top: 60px;
      }
      margin-bottom: 96px;
      p {
        text-align: start;
        &:first-child {
          font-size: 14px;
          color: #fff;
          opacity: 0.5;
        }
        &:nth-child(2) {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            top: 8px;
            left: -60px;
            width: 40px;
            height: 1px;
            background-color: #fff;
            opacity: 0.5;
          }
        }
      }
    }
  }
  .biography-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 113px;
    padding-bottom: 200px;
    &__item {
      img {
        display: block;
        margin: 0 auto;
      }
      h4 {
        margin-top: 40px;
        font-size: 28px;
        line-height: 140%;
        text-align: center;
        color: #ffffff;
      }
      p {
        margin-top: 15px;
        text-align: center;
        color: #ffffff;
        opacity: 0.8;
      }
      button {
        background-color: transparent;
        padding: 10px 24px;
        border: 1px solid #fff;
        border-radius: 20px;
        color: #fff;
        display: block;
        margin: 0 auto;
      }
    }
    @media (max-width: 992px) {
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
      padding-bottom: 100px;
      &__item {
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .footer-wrapper {
    &__input {
      display: flex;
      justify-content: center;
      position: relative;
      input {
        width: 100%;
        max-width: 460px;
        background: rgba(#ffffff, 0.25);
        border-radius: 50px 0px 0px 50px;
        outline: none;
        border: none;
        padding: 10px 15px;
        color: #fff;
        &::placeholder {
          color: #fff;
          opacity: 1 !important;
        }
      }
      button {
        padding: 10px 30px;
        background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
        border-radius: 50px;
        outline: none;
        border: none;
        color: #fff;
        margin-left: -140px;
      }
      @media (max-width: 400px) {
        button {
          padding: 8px 25px;
          margin-left: -120px;
        }
      }
    }
    &__contact {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      padding-bottom: 50px;
      &__item {
        width: 50px;
        height: 50px;
        background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
        border-radius: 50%;
        position: relative;
        margin: 15px;
        img {
          position: absolute;
          inset: 0;
          margin: auto;
        }
        @media (max-width: 350px) {
          margin: 10px;
          width: 40px;
          height: 40px;
        }
      }
    }
    &__info {
      text-align: center;
      padding-bottom: 30px;
      font-size: 16px;
      margin: 0;
      text-align: center;
      color: #ffffff;
      opacity: 0.8;
    }
  }
  @media (max-width: 992px) {
    .program-learn {
      padding-bottom: 75px;
    }
  }
  @media (max-width: 515px) {
    .program-learn {
      &__left-block,
      &__right-block {
        p {
          font-size: 13px;
          &:first-child {
            font-size: 12px;
          }
        }
      }
    }
    &__wrapper {
      &__square {
        img {
          max-width: 270px;
        }
        padding-top: 45px;
      }
    }
    &__theme {
      h2 {
        font-size: 28px;
      }
      img {
        width: 40px;
        height: auto;
      }
    }
  }
  @media (max-width: 1200px) {
    padding-top: 100px;
    &__wrapper {
      flex-direction: column-reverse;
      padding-bottom: 100px;
      align-items: center;
      &__square {
        border-width: 15px;
      }
      &__text {
        max-width: 506px;
        margin: 0 0 0 22px;
      }
    }
  }
}
